window.bar {
  opacity: 1;
}

.center-bar {
  min-width: 25px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.bar-segment {
  opacity: 0.6;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  background-color: @theme_bg_color;
}


button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

button:active {
  background-color: @theme_selected_bg_color;
}

/*
 * currently not needed
button:hover {
}
*/

label {
  font-weight: bold;
}

.volume-slider {
  min-height: 120px;
}

.workspaces button.focused {
  color: @theme_selected_bg_color;
}

.client-title {
  color: @theme_selected_bg_color;
}

progress,
highlight {
  min-height: 8px;
}
