name: "nix flake check"

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

permissions: {}

jobs:
  nix-flake-check:
    name: Check flake
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref && inputs.ref || github.ref_name }}
          persist-credentials: false

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          # helps with github pull rate limiting
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      # hydraJobs is just a double-evaluation of hosts, disable it here to cut check time in half
      # disallow IFD to ensure hydraJobs.hosts is still actually happy.
      - name: Check flake
        run: nix flake check --no-build hydra --option allow-import-from-derivation false
